.Browser {
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  flex-direction: row;
}

.filters > *:not(:first-child) {
  padding-left: 1em;
}

.listWrapper {
  padding-top: 1em;
}

.resultList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 1em;
  column-gap: 1em;
}
