.ListItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  border: 2px solid #222;
  transition: box-shadow 0.3s, transform 0.1s;
  backface-visibility: hidden;
  transform: perspective(400px) translateZ(1px);
  -webkit-font-smoothing: antialised;
  -webkit-font-smoothing: subpixel-antialiased;
}

.imageWrapper:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  transform: perspective(400px) translateZ(10px);
}

.image {
  display: block;
  width: 100%;
}

.imageInfo {
  top: 3px;
  right: 3px;
  border-radius: 2px;
  text-align: right;
  padding: 0.1em 0.2em;
}

.imageSpinner {
  top: 3px;
  left: 3px;
  border-radius: 2px;
  padding: 0.1em 0.2em;
}

.imageName {
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 0.1em 0.2em 0.2em 0.2em;
}

.imageOverlay {
  pointer-events: none;
  color: #000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  transition: opacity 0.3s;
  opacity: 1;
}

.imageWrapper:hover .imageOverlay {
  opacity: 0.1;
}

.imageSpinner {
  opacity: 0;
}

.imageWrapper:hover .imageSpinner {
  opacity: 0;
}

.imageWrapper.isLoading .imageSpinner {
  opacity: 1;
}

.imageWrapper.isLoading:hover .imageSpinner {
  opacity: 0.1;
}

.data {
  white-space: nowrap;
}
