.Viewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'main side'
    'info side'
    '.... side';
  column-gap: 1em;
  row-gap: 1em;
}

.main {
  grid-area: main;
}

.info {
  grid-area: info;
}

.side {
  grid-area: side;
}

.side > *,
.side pre {
  max-width: 100%;
  overflow: scroll;
}

.header {
  padding-bottom: 1em;
}

.header h2 {
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
}

.dateTime {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.commaList {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.commaList > li {
  display: inline;
}

.commaList > li:not(:last-child)::after {
  content: ', ';
}

.preview {
  width: 20em;
  height: auto;
}
