.Viewer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'main side'
    'info side';
  column-gap: 1em;
  row-gap: 1em;
}

.main {
  grid-area: main;
  max-width: 100%;
}

.info {
  grid-area: info;
  max-width: 100%;
}

.side {
  grid-area: side;

  & details {
    height: 100%;
    overflow: scroll;
  }

  & pre {
    max-width: 100%;
  }
}

.header {
  padding-bottom: 1em;

  h2 {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

.hasTitle {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.commaList {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    display: inline;
  }

  & > li:not(:last-child)::after {
    content: ', ';
  }
}
