.header {
  padding-bottom: 1em;
}

.header h2 {
  padding: 0;
  margin: 0;
}

.header a {
  text-decoration: none;
}

.image {
  width: 20em;
  border-radius: 5px;
  border: 2px solid #222;
}

.dateTime {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.commaList {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.commaList > li {
  display: inline;
}

.commaList > li:not(:last-child)::after {
  content: ', ';
}
